.developers__link {
  .container ();
  display: flex;
  flex-direction: row;

  width: 279px;
  text-align: right;
}

.developers__description-wrapper {
  margin-top: 14px;
  flex-grow: 1;
}

.developers__description {
  position: relative;

  color: @grey-dark;
  width: 112px;
  font-family: @font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
}

.developers__link-icon-wrapper {
  margin-top: 22px;
  margin-bottom: 31px;
  flex-grow: 1;
}

.developers__link {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 22px;
    left: 253px;

    width: 27px;
    height: 34px;

    background-image: url("../img/htmlacademy-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .developers__link {
    width: 170px;
    margin-left: 375px;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 53px;
      left: 135px;

      width: 27px;
      height: 34px;

      background-image: url("../img/htmlacademy-tablet.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.6;
    }
  }

  .developers__description-wrapper {
    margin-top: 46px;
    margin-bottom: 31px;
    flex-grow: 1;
  }

  .developers__link-icon-wrapper {
    margin-top: 56px;
    margin-bottom: 31px;
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .developers {
    margin-bottom: 20px;
    margin-left: 255px;
  }

  .developers__link {
    min-width: 170px;
  }

  .developers__description-wrapper {
    margin-top: 44px;
  }

}
