.developers__link {
  display: flex;
  flex-direction: row;
}

.developers__description-wrapper {
  margin-top: 14px;
  margin-bottom: 31px;
  margin-left: 19px;
}

.developers__description {
  color: @grey-dark;
  width: 112px;
  font-family: @font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
}

.developers__link-icon-wrapper {
  margin-top: 22px;
  margin-right: 20px;
  margin-bottom: 31px;
  margin-left: 141px;
}

@media (min-width: @tablet-width) {
  .developers__description-wrapper {
    margin-top: 47px;
    margin-bottom: 31px;
    margin-left: 117px;
  }

  .developers__link-icon-wrapper {
    margin-top: 55px;
    margin-right: 20px;
    margin-bottom: 31px;
    margin-left: 24px;
  }
}

@media (min-width: @tablet-width) {
  .developers__description-wrapper {
    margin-top: 48px;
    margin-bottom: 31px;
    margin-left: 629px;
  }
}
