.features {
  .container ();
  display: flex;
  flex-direction: column;
}

.features__title-wrapper {
  margin-top: 18px;
  margin-bottom: 0;
}

.features__title {
  color: @light-black;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
}

.features__list {
  list-style: none;
  padding: 0;
}

.features__item {
  margin-bottom: 26px;
  margin-left: 82px;
}

.features__description {
  position: relative;

  width: 200px;
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;
}

.features__description::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -80px;

  width: 60px;
  height: 60px;

  background-color: @green;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .features__title-wrapper {
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: 25px;
  }

  .features__title {
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 30px;
  }

  .features__description {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }

  .features__description::before {
    top: -113px;
    left: 1px;

    width: 80px;
    height: 80px;
  }

  .features__item {
    width: 201px;

    margin-top: 153px;
    margin-right: 160px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .features__item:nth-child(3n),
  .features__item:nth-child(4n) {
    margin-bottom: 0;
  }


}

@media (min-width: @desktop-width) {
  .features__title-wrapper {
    margin-top: 73px;
    margin-bottom: 0;
    margin-left: 110px;
  }

  .features__description::before {
    left: 0;
  }

  .features__list {
    margin-left: 110px;
  }

  .features__item {
    width: 201px;

    margin-top: 153px;
    margin-right: 120px;
  }

  .features__item:nth-child(4n) {
    margin-right: 0;
  }

}
