.form-program {
  .container ();
}

.form-program__title-wrapper {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 20px;
}

.form-program__title {
  color: @light-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.form-program__description-wrapper {
  margin-top: 24px;
  margin-bottom: 39px;
  padding-left: 20px;
}

.form-program__description {
  color: @light-black;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-program__data {
  padding-left: 20px;
}

.form-program__input {
  height: 45px;
  border: 1px solid @grey80;
  text-transform: uppercase;
  color: @grey-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
}

.form-program__input:hover,
.form-program__input:focus {
  border: 1px solid @grey72;
}

.form-program__input:active {
  border: 1px solid @grey-dark;
}

.form-program__input:invalid {
  border: solid 2px @peachy-pink;
}

.form-program__input--first {
  width: 229px;
  padding-left: 15px;
  padding-bottom: 3px;
}

.form-program__input--second {
  width: 204px;
  padding-left: 15px;
  padding-bottom: 3px;
}

.form-program__input--third {
  width: 172px;
  padding-left: 15px;
  padding-bottom: 3px;
}

.form-program__input--fourth {
  width: 219px;
  padding-left: 15px;
}

.form-program__input--fifth {
  width: 204px;
  padding-left: 15px;
}

.form-program__label {
  color: @graphite;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-program__label--first {
  margin-right: 10px;
}

.form-program__label--second {
  margin-right: 13px;
}

.form-program__label--third {
  margin-right: 11px;
}

.form-program__label--fourth {
  margin-right: 4px;
}

.form-program__label--fifth {
  margin-right: 6px;
}

.form-program__wrapper--e-mail {
  position: relative;

  padding-top: 5px;
}

.form-program__image--e-mail {
  position: absolute;

  content: "";

  width: 18px;
  height: 14px;

  top: 20px;
  right: 35px;
}

.form-program__wrapper--tel {
  position: relative;

  padding-top: 0;
}

.form-program__image--tel {
  position: absolute;

  content: "";

  width: 21px;
  height: 21px;

  margin-top: 11px;
  right: 32px;
}

.form-program__image--e-mail:active,
.form-program__image--tel:active {
  fill: @green;
}

.form-program__wrapper {
  margin-bottom: 15px;
}

.form-program__wrapper:nth-child(3) {
  margin-bottom: 21px;
}

.form-program__title-contacts-wrapper {
  position: relative;

  margin-top: 28px;
  margin-bottom: 30px;
  padding-left: 20px;

  &::after {
    position: absolute;

    content: "";
    top: 14px;
    left: 221px;

    width: 99px;
    height: 3px;
    background-color: @green;
  }
}

.form-program__title-contacts {
  width: 181px;
  color: @light-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.form-program__title-add-top-wrapper {
  position: relative;

  margin-top: 27px;
  margin-bottom: 0;
  padding-left: 20px;

  &::after {
    position: absolute;

    content: "";

    top: 13px;
    left: 162px;

    width: 158px;
    height: 3px;
    background-color: @green;
  }
}

.form-program__container-two {
  padding-left: 20px;
}

.form-program__title-add-top {
  position: relative;

  color: @light-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.form-program__title-add-bottom-wrapper {
  position: relative;

  margin-top: 25px;
  padding-left: 20px;

  &::after {
    position: absolute;

    content: "";

    top: 14px;
    left: 184px;

    width: 136px;
    height: 3px;
    background-color: @green;
  }
}

.form-program__title-add-bottom {
  position: relative;

  color: @light-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.form-program__textarea-wrapper {
  margin-top: 35px;
  margin-left: 20px;
}

.form-program__textarea {
  width: 280px;
  height: 150px;
  border: 1px solid @grey80;
  color: @grey-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 13px;
  padding-left: 15px;
}

.form-program__button-wrapper {
  margin-top: 40px;
  margin-left: 2px;
}

.form-program__button {
  color: @white;
  background-color: @green;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border: none;

  padding-top: 11px;
  padding-right: 76px;
  padding-bottom: 9px;
  padding-left: 79px;
}

.form-program__checkbox-wrap {
  padding-left: 20px;
}

.form-program__button:hover,
.form-program__button:focus {
  background-color: @green-dark-dark;
}

.form-program__button:active {
  color: @green-dark-link;
}

.form-program__legend-wrapper {
  margin-top: 18px;
  margin-right: 70px;
  margin-bottom: 32px;
  margin-left: 64px;
}

.form-program__legend {
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
}

/*------------Радио кнопки-------------*/

.form-program__radio-wrapper {
  border: 1px solid @gray93;
  width: 320px;
  min-height: 158px;
}

.form-program__radio {
  padding-top: 0;
  padding-left: 41px;
  border: none;
}

.form-program__input-wrap {
  height: 42px;

  padding-top: 27px;
  padding-left: 22px;
}

.form-program__input--radio:checked + .form-program__label--radio::after {
  position: absolute;

  content: "";

  top: 6px;
  left: -37px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: @green;
}

.form-program__label--radio {
  position: relative;

  &::before {
    position: absolute;
    content: "";

    top: -3px;
    left: -46px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid @grey80;
    background-color: @white;
  }
}

.form-program__label--radio:hover,
.form-program__label--radio:focus {
  position: relative;

  &::before {
    position: absolute;

    border: 1px solid @grey73;
  }
}

.form-program__label--radio:active {
  opacity: 0.3;
}

/*-----------Чекбокс---------------*/

.form-program__input--checkbox:checked + .form-program__label--checkbox::after {
  position: absolute;

  content: "";

  width: 30px;
  height: 30px;

  top: 4px;
  left: -40px;

  background-image: url("../img/icon-tick.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-program__label--checkbox {
  position: relative;

  margin-top: 60px;

  &::before {
    position: absolute;
    content: "";

    top: -3px;
    left: -45px;

    width: 30px;
    height: 30px;
    border: 1px solid @grey80;
    background-color: @white;
  }
}

.form-program__label--checkbox:checked:hover,
.form-program__label-checkbox:checked:focus {
  &::before {
    position: absolute;
    border: 1px solid @grey73;
  }
}

.form-program__label--checkbox:active {
  opacity: 0.3;
}

.form-program__wrapper--checkbox:nth-child(1n) {
  padding-top: 21px;
  padding-left: 45px;
}

.form-program__wrapper--checkbox:nth-child(2n) {
  padding-top: 10px;
  padding-left: 45px;
}

.form-program__wrapper--checkbox:nth-child(3n) {
  padding-top: 9px;
  padding-left: 45px;
}

.form-program__wrapper--checkbox:nth-child(4n) {
  padding-top: 3px;
  padding-left: 45px;
}

@media (min-width: @tablet-width) {
  .form-program {
    padding-left: 0;
  }

  .form-program__title-wrapper {
    margin-top: 39px;
  }

  .form-program__title {
    font-size: 60px;

    padding-left: 29px;
  }

  .form-program__description-wrapper {
    margin-top: 55px;
    margin-bottom: 39px;
    margin-left: 0;
  }

  .form-program__description {
    font-size: 20px;
    line-height: 30px;

    padding-left: 70px;
  }

  .form-program__data {
    padding-left: 0;
  }

  .form-program__label {
    font-size: 20px;
    line-height: 18px;
  }

  .form-program__label--first {
    margin-right: 15px;
  }

  .form-program__label--second {
    margin-right: 16px;
  }

  .form-program__label--third {
    margin-right: 16px;
  }

  .form-program__input {
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  .form-program__wrapper {
    margin-left: 69px;
  }

  .form-program__input--first {
    width: 567px;
    padding-left: 20px;
    margin-top: 28px;
  }

  .form-program__input--second {
    width: 536px;
    padding-left: 20px;
    margin-top: 5px;
  }

  .form-program__input--third {
    width: 497px;
    padding-left: 20px;
    margin-top: 5px;
  }

  .form-program__input--fourth {
    width: 551px;
    padding-left: 20px;
    margin-left: 2px;
  }

  .form-program__input--fifth {
    width: 535px;
    padding-left: 20px;
    margin-left: 2px;
  }

  /*------------Радио кнопки-------------*/

  .form-program__label--radio,
  .form-program__label--checkbox {
    font-size: 20px;
    line-height: 20px;
  }

  .form-program__radio-wrapper {
    width: 630px;
    height: 196px;

    margin-top: 73px;
    margin-left: 68px;
    padding-left: 20px;
  }

  .form-program__input--radio:checked + .form-program__label--radio::after {
    top: 46px;
    left: -44px;

    width: 18px;
    height: 18px;
  }

  .form-program__label--radio {
    padding-top: 42px;
    padding-left: 5px;

    &::before {
      top: 35px;
      left: -55px;

      width: 40px;
      height: 40px;
    }
  }

  .form-program__input-wrap {
    height: 52px;

    padding-top: 33px;
  }

  /*-----------Чекбокс---------------*/

  .form-program__checkbox-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 0;

    width: 550px;
  }

  .form-program__input--checkbox:checked + .form-program__label--checkbox::after {
    top: 7px;
    left: -50px;
  }

  .form-program__wrapper--checkbox:nth-child(1n) {
    padding-top: 36px;
    margin-left: 0;
  }

  .form-program__wrapper--checkbox:nth-child(2n) {
    padding-top: 36px;
    margin-left: 123px;
  }

  .form-program__wrapper--checkbox:nth-child(3n) {
    padding-top: 36px;
    margin-left: 0;
  }

  .form-program__wrapper--checkbox:nth-child(4n) {
    padding-top: 36px;
    margin-left: 217px;
  }

  .form-program__label--checkbox {
    margin-top: 60px;
    margin-left: 15px;

    &::before {
      top: -4px;
      left: -60px;

      width: 40px;
      height: 40px;
    }
  }

  .form-program__title-contacts-wrapper {
    position: relative;

    margin-top: 74px;
    margin-bottom: 30px;
    padding-left: 69px;

    &::after {
      position: absolute;

      content: "";
      top: 21px;
      left: 0;

      width: 30px;
      height: 3px;
      background-color: @green;
    }

    &::before {
      position: absolute;

      content: "";
      top: 21px;
      left: 623px;

      width: 144px;
      height: 3px;
      background-color: @green;
    }
  }

  .form-program__label--fourth {
    margin-right: 10px;
  }

  .form-program__label--fifth {
    margin-right: 10px;
  }

  .form-program__container-two {
    padding-left: 0;
  }

  .form-program__title-contacts {
    width: 590px;
    font-size: 36px;
    line-height: 36px;
  }

  .form-program__wrapper--e-mail {
    position: relative;

    padding-top: 45px;
  }

  .form-program__image--e-mail {
    top: 66px;
    right: 85px;
  }

  .form-program__wrapper--tel {
    position: relative;

    padding-top: 6px;
  }

  .form-program__image--tel {
    margin-top: 18px;
    right: 82px;
  }

  .form-program__title-add-top-wrapper {
    position: relative;

    margin-top: 65px;
    margin-bottom: 0;
    padding-left: 0;

    &::after {
      position: absolute;

      content: "";

      top: 21px;
      left: -69px;

      width: 30px;
      height: 3px;
      background-color: @green;
    }

    &::before {
      position: absolute;

      content: "";

      top: 21px;
      left: 220px;

      width: 480px;
      height: 3px;
      background-color: @green;
    }
  }

  .form-program__title-add-top {
    font-size: 36px;
    line-height: 36px;
  }

  .form-program__textarea-wrapper {
    margin-top: 75px;
    margin-left: 0;
  }

  .form-program__textarea {
    width: 631px;
    height: 174px;

    font-size: 20px;
    line-height: 30px;

    padding-top: 10px;
    padding-left: 18px;
  }

  .form-program__title-add-bottom-wrapper {
    position: relative;

    margin-top: 63px;
    padding-left: 0;

    &::after {
      position: absolute;

      content: "";

      top: 22px;
      left: 253px;

      width: 445px;
      height: 3px;
      background-color: @green;
    }

    &::before {
      position: absolute;

      content: "";

      top: 22px;
      left: -69px;

      width: 29px;
      height: 3px;
      background-color: @green;
    }
  }

  .form-program__title-add-bottom {
    font-size: 36px;
    line-height: 36px;
  }

  .form-program__button-wrapper {
    margin-top: 43px;
    margin-left: 2px;
  }

  .form-program__button {
    font-size: 20px;
    line-height: 20px;

    padding-top: 17px;
    padding-right: 67px;
    padding-bottom: 15px;
    padding-left: 62px;
  }

  .form-program__legend-wrapper {
    margin-top: -39px;
    margin-right: 70px;
    margin-bottom: 63px;
    margin-left: 347px;
  }

  .form-program__legend {
    width: 178px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form-program__title-wrapper {
    margin-top: 56px;
    padding-left: 40px;
  }

  .form-program__description-wrapper {
    margin-top: 55px;
    margin-bottom: 39px;

    padding-left: 40px;
  }

  .form-program__container {
    display: flex;
    flex-direction: row;
  }

  .form-program__wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 40px;
  }

  .form-program__label--first {
    padding-top: 42px;
    padding-left: 0;
    margin-right: 12px;
    margin-left: 0;
  }

  .form-program__label--second {
    padding-top: 22px;
    margin-left: 0;
  }

  .form-program__label--third {
    padding-top: 22px;
    margin-left: 0;
  }

  .form-program__label--fourth {
    padding-top: 17px;
    margin-left: 0;
  }

  .form-program__label--fifth {
    padding-top: 14px;
    padding-left: 3px;
    margin-left: 0;
  }

  .form-program__input--first {
    width: 506px;
    padding-left: 20px;
    margin-left: 5px;
  }

  .form-program__input--second {
    width: 475px;
    padding-left: 20px;
    margin-left: 5px;
  }

  .form-program__input--third {
    width: 436px;
    padding-left: 20px;
    margin-top: 5px;
    margin-left: 2px;
  }

  .form-program__input--fourth {
    width: 486px;
    padding-left: 20px;
    margin-left: 5px;
  }

  .form-program__input--fifth {
    width: 472px;
    padding-left: 17px;
    margin-left: 8px;
  }

  .form-program__radio-wrapper {
    width: 570px;
    margin-top: 28px;
    margin-left: 77px;
  }

  .form-program__label--radio::before {
    top: 38px;
  }

  .form-program__input--radio:checked+.form-program__label--radio::after {
    top: 48px;
  }

  .form-program__title-contacts-wrapper {
    position: relative;

    margin-top: 47px;
    margin-bottom: 30px;
    padding-left: 39px;

    &::after {
      top: 21px;
      left: 0;

      width: 5px;
    }

    &::before {
      top: 22px;
      left: 593px;

      width: 707px;
    }
  }

  .form-program__container-two {
    display: flex;
    flex-direction: row;
  }

  .form-program__wrapper--e-mail {
    padding-top: 45px;
  }

  .form-program__image--e-mail {
    top: 65px;
    right: 19px;
  }

  .form-program__wrapper--tel {
    padding-top: 48px;
    padding-left: 77px;
  }

  .form-program__image--tel {
    margin-top: 13px;
    right: 18px;
  }

  .form-program__title-add-top-wrapper {
    position: relative;

    margin-top: 51px;

    &::after {
      width: 5px;
      left: -45px;
    }

    &::before {
      width: 1040px;
    }
  }

  .form-program__textarea-wrapper {
    margin-top: 162px;
    margin-left: -180px;
  }

  .form-program__textarea {
    min-width: 1220px;
  }

  .form-program__title-add-bottom-wrapper {
    position: relative;

    margin-top: 52px;

    &::after {
      width: 1006px;
    }

    &::before {
      top: 21px;
      left: -45px;

      width: 5px;
      height: 3px;
      background-color: @green;
    }
  }

  .form-program__checkbox-wrap {
    display: flex;
    flex-direction: row;

    width: 1130px;

    margin-top: 58px;
    margin-left: -205px;
    padding-left: 13px;
  }

  .form-program__wrapper--checkbox:nth-child(1n) {
    margin-top: 0;
    margin-left: 0;
    padding-left: 25px;
  }

  .form-program__wrapper--checkbox:nth-child(2n) {
    margin-top: 0;
    padding-left: 148px;
  }

  .form-program__wrapper--checkbox:nth-child(3n) {
    margin-top: 0;
    padding-left: 183px;
  }

  .form-program__wrapper--checkbox:nth-child(4n) {
    margin-top: 0;
    padding-left: 242px;
  }

  .form-program__label--checkbox::before {
    top: -9px;
    left: -59px;
  }

  .form-program__input--checkbox:checked+.form-program__label--checkbox::after {
    top: 4px;
  }

  .form-program__input--checkbox {
    position: relative;

    &::before {
      position: absolute;
      content: "";

      top: -9px;
      left: -58px;
    }
  }

  .form-program__button-wrapper {
    margin-top: 51px;
    margin-left: -19px;
  }

  .form-program__button {
    padding-right: 206px;
    padding-left: 209px;
  }

  .form-program__legend-wrapper {
    margin-left: 634px;
    padding-bottom: 24px;
  }
}
