.goods__title-wrapper {
  margin-top: 15px;
  margin-bottom: 28px;
  margin-left: 20px;
}

.goods__title {
  color: @light-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.goods__line-wrapper {
  margin-top: 14px;
}

.goods__line {
  width: 320px;
  height: 1px;
  color: @gray92;
  border: 1px solid;
  border-top: none;
}

.goods__card {
  border: 1px solid @gray93;
  border-bottom: none;
}

.goods__wrapper {
  display: flex;
  flex-direction: row;
}

.goods__wrapper--right {
  display: flex;
  flex-direction: column;
}

.goods__card-title-wrapper {
  margin-top: 22px;
  margin-bottom: 0;
  margin-left: -1px;
}

.goods__card-title {
  width: 74px;
  color: @light-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__table-wrapper {
  margin-top: 10px;
  margin-left: -3px;
}

.goods__table {
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  text-transform: none;
}

.goods__table--second-column {
  padding-left: 57px;
  text-align: right;
}

.goods__table--front-column {
  text-align: left;
}

.goods__order-wrapper {
  margin-top: 7px;
  margin-bottom: 34px;
  margin-left: 19px;
}

.goods__order {
  color: @white;
  background-color: @green;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 8px;
  padding-right: 108px;
  padding-bottom: 8px;
  padding-left: 111px;
}

.goods__image {
  margin-top: 1px;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .goods__title {
    font-size: 60px;
    line-height: 60px;
  }

  .goods__title-wrapper {
    margin-top: 35px;
    margin-bottom: 28px;
    margin-left: 29px;
  }

  .goods__line {
    border: none;
  }

  .goods__card-wrapper {
    margin-top: 140px;
    margin-left: 30px;
  }

  .goods__card-wrapper-three { //7 карточка
    margin-top: 140px;
    margin-left: 30px;
  }

  .goods__card-wrapper:nth-child(2n) {
    margin-left: 60px;
  }

  .goods__card-wrapper--indent {
    margin-top: 137px;
  }

  .goods__card {
    border: none;
    width: 324px;
    min-height: 431px;
    background-color: @gray95;
  }

  .goods__image {
    margin-top: -32px;
    margin-left: 93px;
  }

  .goods__card-title-wrapper {
    margin-top: 164px;
    margin-left: -134px;
  }

  .goods__card-title {
    width: 130px;
    font-size: 20px;
    text-align: center;
  }

  .goods__table-wrapper {
    margin-top: 18px;
    margin-left: -198px;
  }

  .goods__table {
    font-size: 16px;
    line-height: 120%;
  }

  .goods__table--front-column {
    border-bottom: 1px solid @grey80;
  }

  .goods__table--second-column {
    padding-top: 3px;
    padding-left: 141px;
    padding-bottom: 7px;
    border-bottom: 1px solid @grey80;
  }

  .goods__order-wrapper {
    margin-top: 40px;
    margin-bottom: 34px;
    margin-left: 38px;
  }

  .goods__order {
    padding-top: 8px;
    padding-right: 94px;
    padding-bottom: 8px;
    padding-left: 94px;
  }
}

@media (min-width: @desktop-width) {
  .goods__title-wrapper {
    margin-top: -508px;
    margin-bottom: 0;
    margin-left: -210px;
  }

  .goods__card-wrapper-three {
    margin-top: 142px;
    margin-left: 80px;
  }

  .goods__card-wrapper {
    margin-top: 142px; //задает высоту второго ряда
    margin-left: 110px; //задает левый отступ второго ряда
  }

  .goods__card-wrapper--indent {
    margin-top: -283px; //задавать вместе с значением ниже, поднимает 1 и 2 карточку
    margin-left: -429px; //задает левый отступ первого ряда
  }

  .goods__card-wrapper--indent-two {
    margin-top: -283px; //задавать вместе с значением выше, поднимает 3 и 4 карточку
    margin-left: 80px; //задает левый отступ между элементами (не всеми)
  }

  .goods__card-wrapper:nth-child(2n) {
    margin-left: 80px;
  }

  .goods__card {
    border: none;
    width: 245px;
    min-height: 431px;
    background-color: @gray95;
  }

  .goods__card-title-wrapper {
    margin-top: 164px;
    margin-left: -135px;
  }

  .goods__table--second-column {
    padding-top: 3px;
    padding-left: 60px;
    padding-bottom: 7px;
    border-bottom: 1px solid @grey80;
  }

  .goods__order-wrapper {
    margin-top: 42px;
    margin-bottom: 33px;
    margin-left: 38px;
  }

  .goods__order {
    padding-top: 8px;
    padding-right: 52px;
    padding-bottom: 8px;
    padding-left: 56px;
  }

  .goods__image {
    margin-top: -32px;
    margin-left: 55px;
  }

  .goods__table-wrapper {
    margin-top: 18px;
    margin-left: -158px;
  }
}
