.goods-add__title-wrapper {
  margin-top: 28px;
  margin-bottom: 34px;
  margin-left: 19px;
}

.goods-add__title {
  position: relative;
  color: @light-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.goods-add__line-wrapper {
  margin-top: -44px;
  margin-left: 267px;
}

.goods-add__line {
  position: absolute;

  content: "";
  width: 53px;
  height: 3px;
  background-color: @green;
}

@media (min-width: @tablet-width) {
  .goods-add__title-wrapper {
    margin-top: 66px;
    margin-bottom: 34px;
    margin-left: 67px;
  }

  .goods-add__title {
    font-size: 36px;
    line-height: 36px;
  }

  .goods-add__line-wrapper {
    margin-top: -48px;
    margin-left: 441px;
  }

  .goods-add__line {
    width: 327px;
    height: 3px;
  }

  .goods-add__line-wrapper-two {
    margin-top: -48px;
  }

  .goods-add__line-two {
    position: absolute;

    content: "";
    width: 28px;
    height: 3px;
    background-color: @green;
  }
}

@media (min-width: @desktop-width) {
  .goods-add-wrapper {
    margin-bottom: 10px;
  }

  .goods-add-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .goods-add__title-wrapper {
    margin-top: 75px;
    margin-left: 109px;
  }

  .goods-add__line-wrapper {
    margin-top: -48px;
    margin-left: 483px;
  }

  .goods-add__line {
    width: 957px;
  }

  .goods-add__line-two {
    width: 70px;
  }
}
