.goods-add__title {
  position: relative;
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;

  margin-top: 28px;
  margin-bottom: 34px;
  margin-left: 19px;
}

.goods-add-line {
  position: absolute;
  width: 53px;
  height: 3px;
  background-color: #68b738;

  margin-top: -44px;
  margin-left: 267px;
}

.goods-add-card {
  border: 1px solid #ededed;
  border-right: none;
  border-left: none;

  margin-left: 20px;
  margin-top: 24px;

  width: 280px;
}

.goods-add-card__title {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.goods-add-card__title--one {
  margin-top: 14px;
}

.goods-add-card__title--two {
  margin-top: 14px;
}

.goods-add-card__title--three {
  margin-top: 15px;
}

.goods-add-card__title--four {
  margin-top: 15px;
}

.goods-add__table {
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: none;

  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: -4px;
}

.goods-add__table--second-column-one {
  padding-left: 121px;
}

.goods-add__table--second-column-two {
  padding-left: 186px;
}

.goods-add__table--second-column-three {
  padding-left: 195px;
}

.goods-add__table--second-column-four {
  padding-left: 129px;
}

.goods-add__order {
  color: #ffffff;
  background-color: #68b738;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 9px;
  padding-right: 108px;
  padding-bottom: 7px;
  padding-left: 111px;
}

.goods-add__order-wrapper--one {
  margin-top: 22px;
}

.goods-add__order-wrapper--two {
  margin-top: 23px;
}

.goods-add__order-wrapper--three {
  margin-top: 22px;
}

.goods-add__order-wrapper--four {
  margin-top: 22px;
}

.goods-promo {
  margin-top: 65px;
  margin-left: 20px;
}

.goods-promo__description {
  color: #ffffff;
  width: 159px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  text-align: center;
}

.goods-promo__description-wrapper {
  padding-top: 186px;
  padding-left: 55px;
}

.goods-promo__wrapper {
  position: relative;

  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  margin-bottom: 35px;
}

.goods-promo__image {
  position:absolute;

  top: 0;
  left: 113px;

  padding-top: 65px;
}
