.goods-add-card {
  border: 1px solid @gray93;
  border-right: none;
  border-left: none;
  width: 280px;

  margin-top: 24px;
}

.goods-add-card__title {
  color: @graphite;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.goods-add-card__title-wrapper {
  margin-top: 14px;
  margin-bottom: 0;
}

.goods-add-card__table-wrapper {
  margin-top: 10px;
  margin-left: -4px;
}

.goods-add-card__table {
  width: 100%;
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: none;
}

.goods-add-card__table--front-column {
  text-align: left;
  flex-grow: 1;
}

.goods-add-card__table--second-column {
  min-width: 43px;
  text-align: right;
  flex-grow: 1;
}

.goods-add-card__order {
  color: @white;
  background-color: @green;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 9px;
  padding-right: 108px;
  padding-bottom: 7px;
  padding-left: 111px;
}

.goods-add-card__order:hover,
.goods-add-card__order:focus {
  background-color: @green-dark-dark;
}

.goods-add-card__order:active {
  color: @green-dark-link;
}

.goods-add-card__order-wrapper {
  margin-top: 22px;
}

.goods-add-card__row {
  display: flex;
  flex-direction: row;
  min-width: 285px;
}

@media (min-width: @tablet-width) {
  .goods-add-card__wrapper {
    margin-top: 80px;
    padding-left: 10px;
  }

  .goods-add-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 1px solid @gray93;
    border-bottom: none;
    width: 708px;

    margin-top: 0;
  }

  .goods-add-card:nth-child(4n) {
    border-bottom: 1px solid @gray93;
  }

  .goods-add-card__title {
    font-size: 20px;
    line-height: 16px;
    flex-grow: 1;
  }

  .goods-add-card__title-wrapper {
    margin-top: 28px;
    padding-left: 38px;
  }

  .goods-add-card__table-wrapper {
    margin-top: 30px;
    margin-left: 240px;
    flex-grow: 1;
  }

  .goods-add-card__table {
    max-width: 130px;
    font-size: 16px;
  }

  .goods-add-card__table--front-column {
    text-align: right;
  }

  .goods-add-card__table--second-column {
    min-width: 60px;
    text-align: center;
    padding-left: 10px;
  }

  .goods-add-card__order-wrapper {
    margin-top: 32px;
    margin-bottom: 35px;
    margin-left: 37px;
  }

  .goods-add-card__order {
    padding-top: 9px;
    padding-right: 287px;
    padding-bottom: 7px;
    padding-left: 285px;
  }

  .goods-add-card__row {
    display: flex;
    flex-direction: row;
    min-width: 260px;
  }
}

@media (min-width: @desktop-width) {
  .goods-add-card__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-top: 80px;
    padding-left: 40px;
  }

  .goods-add-card {
    flex-wrap: nowrap;

    width: 895px;
    height: 72px;
    border-left: none;
    border-right: none;
  }

  .goods-add-card__title-wrapper {
    margin-top: 28px;
    padding-left: 0;
  }

  .goods-add-card__table-wrapper {
    margin-left: 160px;
  }

  .goods-add-card__table {
    font-size: 16px;
    max-width: 150px;
  }

  .goods-add-card__table--front-column {
    text-align: left;
  }

  .goods-add-card__table--second-column {
    min-width: 60px;
    text-align: right;
    padding-left: 0;
  }

  .goods-add-card__order {
    padding-top: 8px;
    padding-right: 91px;
    padding-bottom: 8px;
    padding-left: 91px;
  }

  .goods-add-card__order-wrapper {
    margin-top: 25px;
    margin-left: 43px;
  }

  .goods-add-card__row {
    min-width: 285px;
  }
}
