.goods-add-card {
  border: 1px solid @gray93;
  border-right: none;
  border-left: none;

  margin-left: 20px;
  margin-top: 24px;

  width: 280px;
}

.goods-add-card__title {
  color: @graphite;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.goods-add-card__title--one {
  margin-top: 14px;
  margin-bottom: 0;
}

.goods-add-card__title--two {
  margin-top: 14px;
  margin-bottom: 0;
}

.goods-add-card__title--three {
  margin-top: 15px;
  margin-bottom: 0;
}

.goods-add-card__title--four {
  margin-top: 15px;
  margin-bottom: 0;
}

.goods-add-card__table {
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: none;

  margin-top: 10px;
  margin-bottom: 14px;
  margin-left: -4px;
}

.goods-add-card__table--second-column-one {
  padding-left: 121px;
}

.goods-add-card__table--second-column-two {
  padding-left: 186px;
}

.goods-add-card__table--second-column-three {
  padding-left: 195px;
}

.goods-add-card__table--second-column-four {
  padding-left: 129px;
}

.goods-add-card__order {
  color: @white;
  background-color: @green;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 9px;
  padding-right: 108px;
  padding-bottom: 7px;
  padding-left: 111px;
}

.goods-add-card__order-wrapper--one {
  margin-top: 22px;
}

.goods-add-card__order-wrapper--two {
  margin-top: 23px;
}

.goods-add-card__order-wrapper--three {
  margin-top: 22px;
}

.goods-add-card__order-wrapper--four {
  margin-top: 22px;
}
