.goods-add-wrapper {
  .container ();
  padding-left: 20px;
}

.goods-add__title-wrapper {
  margin-top: 28px;
  margin-bottom: 34px;
}

.goods-add__title {
  color: @light-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 7px;
    left: 247px;

    width: 53px;
    height: 3px;

    background: @green;
  }
}

@media (min-width: @tablet-width) {
  .goods-add-wrapper {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 993px;
      left: 441px;

      width: 326px;
      height: 3px;

      background: @green;
    }
  }

  .goods-add__title-wrapper {
    margin-top: 65px;
    margin-bottom: 34px;
    padding-left: 47px;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 11px;
      left: -20px;

      width: 28px;
      height: 3px;

      background: @green;
    }
  }

  .goods-add__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .goods-add-wrapper {
    position: relative;

    margin-bottom: 10px;
    padding-left: 0;

    &::after {
      content: "";

      position: absolute;
      top: 98px;
      right: 0;
      bottom: 0;
      left: 418px;

      width: 865px;
      height: 3px;

      background: @green;
    }
  }

  .goods-add__title-wrapper {
    margin-top: 76px;
    margin-bottom: 34px;
    padding-left: 44px;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 11px;
      left: 0;

      width: 5px;
      height: 3px;

      background: @green;
    }
  }
}
