.goods {
  .container ();
}

.goods__title-wrapper {
  margin-top: 14px;
  margin-bottom: 28px;
  margin-left: 20px;
}

.goods__title {
  color: @light-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.goods__card {
  width: 320px;
  border: 1px solid @gray93;
}

.goods__card:nth-child(2),
.goods__card:nth-child(3),
.goods__card:nth-child(4),
.goods__card:nth-child(5),
.goods__card:nth-child(6),
.goods__card:nth-child(7) {
  border-top: none;
}

.goods__wrapper {
  display: flex;
  flex-direction: row;
}

.goods__wrapper--right {
  display: flex;
  flex-direction: column;
}

.goods__card-title-wrapper {
  margin-top: 22px;
  margin-bottom: 0;
}

.goods__card-title {
  width: 74px;
  color: @light-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__table-wrapper {
  margin-top: 10px;
  margin-left: -3px;
}

.goods__table {
  width: 145px;
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  text-transform: none;
}

.goods__table--second-column {
  text-align: right;
}

.goods__table--front-column {
  text-align: left;
}

.goods__order-wrapper {
  margin-top: 7px;
  margin-bottom: 34px;
  margin-left: 19px;
}

.goods__order {
  color: @white;
  background-color: @green;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 8px;
  padding-right: 108px;
  padding-bottom: 8px;
  padding-left: 111px;
}

.goods__order:hover,
.goods__order:focus {
  background-color: @green-dark-dark;
}

.goods__order:active {
  color: @green-dark-link;
}

.goods__image {
  margin-top: 1px;
  margin-left: 20px;
}

.goods__all {
  display: flex;
  flex-direction: column;

  width: 320px;
  border: 1px solid @gray93;
  border-top: none;

  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 26px;
    left: 144px;

    width: 30px;
    height: 30px;

    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    z-index: 2;
  }
}

.goods__all-description-wrapper {
  margin-top: 80px;
  padding-left: 60px;
}

.goods__all-description {
  color: @light-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__all-intro-wrapper {
  margin-top: 8px;
  padding-left: 50px;
}

.goods__all-intro {
  color: @grey-dark;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  font-family: @font-family-secondary;
}

.goods__all-show-wrapper {
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 19px;
}

.goods__all-show {
  width: 280px;
  color: @grey-dark;
  background-color: @gray95;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 11px;
  padding-right: 90px;
  padding-bottom: 9px;
  padding-left: 97px;
}

.goods__all-show:hover,
.goods__all-show:focus {
  background-color: @gray92;
}

.goods__all-show:active {
  color: @grey80;
}

@media (max-width: @mobile-width-only) {
  .goods__title {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 75px;
      left: -20px;

      width: 320px;
      height: 1px;

      background: @black;
      opacity: 0.1;
    }
  }
}

@media (min-width: @tablet-width) {
  .goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 20px;
  }

  .goods__card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: 10px;
  }

  .goods__wrapper {
    display: flex;
    flex-direction: column;
  }

  .goods__title-wrapper {
    margin-top: 37px;
    margin-bottom: 28px;
    margin-left: 10px;
  }

  .goods__title {
    font-size: 60px;
    line-height: 60px;
  }

  .goods__card {
    border: none;
    width: 324px;
    min-height: 431px;
    background-color: @gray95;

    margin-top: 137px;
    margin-right: 60px;
  }

  .goods__card:nth-child(3),
  .goods__card:nth-child(4),
  .goods__card:nth-child(5),
  .goods__card:nth-child(6),
  .goods__card:nth-child(7) {
    margin-top: 140px;
  }

  .goods__card:nth-child(2),
  .goods__card:nth-child(4),
  .goods__card:nth-child(6) {
    margin-right: 0;
  }

  .goods__image {
    margin-top: -46px;
    margin-left: 0;
  }

  .goods__order-wrapper {
    margin-top: 40px;
    margin-bottom: 34px;
    margin-left: 38px;
  }

  .goods__order {
    padding-top: 8px;
    padding-right: 94px;
    padding-bottom: 8px;
    padding-left: 94px;
  }

  .goods__table-wrapper {
    margin-top: 20px;
    margin-left: 35px;
  }

  .goods__table {
    width: 255px;
    font-size: 16px;
    line-height: 120%;
  }

  .goods__table--front-column {
    border-bottom: 1px solid @grey80;
  }

  .goods__table--second-column {
    padding-top: 3px;
    padding-bottom: 7px;
    border-bottom: 1px solid @grey80;
  }

  .goods__card-title-wrapper {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 97px;
  }

  .goods__card-title {
    width: 130px;
    font-size: 20px;
    text-align: center;
  }

  .goods__all-wrapper {
    margin-top: 140px;
  }

  .goods__all {
    width: 324px;
    min-height: 432px;
    border: 1px solid #cdcdcd;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 53px;
      left: 132px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-plus-tablet.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .goods__all-description-wrapper {
    margin-top: 162px;
    padding-left: 92px;
  }

  .goods__all-description {
    width: 230px;
    font-size: 20px;
    text-align: center;
  }

  .goods__all-intro-wrapper {
    margin-top: 25px;
    padding-left: 70px;
  }

  .goods__all-intro {
    width: 250px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .goods__all-show-wrapper {
    margin-top: 69px;
    margin-bottom: 24px;
    margin-left: 37px;
  }

  .goods__all-show {
    width: 249px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    padding-top: 11px;
    padding-right: 77px;
    padding-bottom: 9px;
    padding-left: 80px;
  }
}

@media (min-width: @desktop-width) {
  .goods {
    width: @desktop-width;

    padding-left: 35px;
  }
  .goods__card {
    border: none;
    width: 245px;
    min-height: 431px;
    background-color: @gray95;

    margin-top: 165px;
    margin-right: 80px;
  }

  .goods__card:nth-child(3),
  .goods__card:nth-child(4) {
    margin-top: 165px;
  }

  .goods__card:nth-child(5),
  .goods__card:nth-child(6),
  .goods__card:nth-child(7) {
    margin-top: 142px;
  }

  .goods__card:nth-child(2),
  .goods__card:nth-child(6) {
    margin-right: 80px;
  }

  .goods__card:nth-child(4) {
    margin-right: 0;
  }

  .goods__card-wrapper {
    min-width: @desktop-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .goods__title-wrapper {
    margin-top: 63px;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .goods__card-title-wrapper {
    margin-top: 49px;
    margin-left: 58px;
  }

  .goods__order-wrapper {
    margin-top: 42px;
    margin-bottom: 33px;
    margin-left: 38px;
  }

  .goods__order {
    padding-top: 8px;
    padding-right: 52px;
    padding-bottom: 8px;
    padding-left: 56px;
  }

  .goods__image {
    margin-top: -32px;
    margin-left: 0;
  }

  .goods__table {
    width: 174px;
  }

  .goods__table-wrapper {
    margin-top: 18px;
  }

  .goods__all-show {
    width: 169px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 38px;
  }

  .goods__all {
    width: 245px;
    min-height: 432px;

    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 56px;
      left: 92px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-plus-tablet.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    .goods__all-description-wrapper {
      margin-top: 165px;
      padding-left: 40px;
    }

    .goods__all-description {
      width: 200px;
      font-size: 20px;
      text-align: center;
    }

    .goods__all-intro-wrapper {
      margin-top: 25px;
      padding-left: 19px;
    }

    .goods__all-intro {
      width: 220px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
  }
}
