.main-nav {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  .list-reset ();
}

.main-nav__toggle {
  position: absolute;
  top: -44px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 24px;
  height: 18px;

  background-color: @white;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 24px;
  height: 2px;

  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

.main-nav--opened .main-nav__toggle {
  top: -44px;
  right: 20px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: 3px;

    width: 18px;
    height: 2px;

    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle{
  display: none;

}

.main-nav__link {
  color: @light-black;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__item:hover,
.main-nav__iten:focus {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}

.main-nav__item {
  text-align: center;
  border: 1px solid @gray93;

  padding-top: 24px;
  padding-bottom: 24px;
}

.main-nav__item:nth-child(2n),
.main-nav__item:nth-child(3n) {
  border-top: none;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;

    margin-left: 95px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__internal {
    min-width: 450px;
    display: flex;
    flex-direction: row;
  }

  .main-nav__item {
    text-align: center;
    border: none;

    margin-top: 18px;

    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 34px;

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 14px;
        left: 0;

        height: 2px;

        background: @green;
      }
    }
  }

  .main-nav__item:nth-child(1) {
    margin-left: 0;
  }

  .main-nav__link {
    position: relative;

    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .main-nav--catalog {
    background-image: none;
    height: 0;
  }

  .main-nav {
    margin-left: 456px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__internal {
    margin-top: 32px;
    margin-left: 85px;
    min-width: 490px;
  }

  .main-nav__item {
    padding-top: 24px;
    padding-bottom: 24px;

    margin-left: 35px;
    text-align: center;
    border: none;

    &--active-desctop {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 14px;
        left: 0;

        height: 2px;

        background: @white;
      }
    }
  }

  .main-nav__link {
    position: relative;

    color: @white;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
  }

  .main-nav__link--catalog {
    color: @black;
  }

  .main-nav__link--form {
    color: @black;
  }
}
