.map-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  background-color: @gray95;
  min-height: 471px;

  &::after {
    position: absolute;

    content: "";

    width: 100%;
    height: 362px;

    top: 115px;
    margin: 0 auto;

    background-image: url("../img/map-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 0;
  }

  &::before {
    position: absolute;

    content: "";

    width: 55px;
    height: 53px;

    top: 254px;
    left: 136px;
    margin: 0 auto;

    background-image: url("../img/map-pin-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 2;
  }
}

.map-contacts--index {
  background-color: @white;
}

.map-contacts__invitation--wrapper {
  margin-top: 0;
}

.map-contacts__invitation {
  .list-reset();
  width: 123px;
  color: @light-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.map-contacts__address--wrapper {
  margin-top: 0;
  padding-left: 17px;
}

.map-contacts__address--wrapper-two {
  margin-top: 40px;
  margin-right: 0;
  margin-left: -155px;
  padding-left: 12px;
}

.map-contacts__address {
  width: 160px;
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
}

.map-contacts__wrapper {
  .container ();
  display: flex;
  flex-direction: row;

  margin-top: 29px;
  padding-left: 20px;
}

.map-contacts__wrapper--form {
  padding-top: 30px;
}

.map-contacts__map-image {
  width: 100%;
  height: 365px;
  border: none;
  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .map-contacts {
    position: relative;

    min-height: 590px;

    &::after {
      position: absolute;

      content: "";

      width: 100%;
      height: 400px;

      top: 200px;
      margin: 0 auto;

      background-image: url("../img/map-tablet.png");
      background-repeat: no-repeat;
      background-position: 0 -5px;
      z-index: 1;
    }

    &::before {
      position: absolute;

      content: "";

      width: 113px;
      height: 106px;

      top: 345px;
      left: 333px;
      margin: 0 auto;

      background-image: url("../img/map-pin-tablet.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      z-index: 2;
    }
  }

  .map-contacts__wrapper {
    .container ();
    padding-left: 70px;
  }

  .map-contacts__wrapper--index-tablet {
    padding-top: 34px;
  }

  .map-contacts__wrapper--form-tablet {
    padding-top: 65px;
  }

  .map-contacts__wrapper--catalog-tablet {
    padding-top: 36px;
  }

  .map-contacts__invitation {
    width: 154px;
    height: 70px;
    font-size: 20px;
    line-height: 25px;
  }

  .map-contacts__address--wrapper {
    margin-left: 300px;
  }

  .map-contacts__address {
    width: 170px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .map-contacts__address--wrapper-two {
    margin-top: 59px;
    padding-right: 14px;
  }

  .map-contacts__map-image {
    height: 395px;

    margin-top: 38px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .map-contacts {
    position: relative;

    min-height: 400px;

    &::after {
      position: absolute;

      content: "";

      width: 100%;
      height: 400px;

      top: 0;
      margin: 0 auto;

      background-image: url("../img/map-desctop.png");
      background-repeat: no-repeat;
      background-position: -70px 0;
      z-index: 1;
    }

    &::before {
      position: absolute;

      content: "";

      width: 113px;
      height: 106px;

      top: 150px;
      left: 940px;
      margin: 0 auto;

      background-image: url("../img/map-pin-desctop.png");
      background-repeat: no-repeat;
      background-position: bottom center;
      z-index: 2;
    }
  }

  .map-contacts {
    margin-top: 0;
  }

  .map-contacts--catalog {
    margin-top: 0;
  }

  .map-contacts__wrapper--index-desctop {
    padding-top: 2px;
  }

  .map-contacts__wrapper--catalog-desctop {
    padding-top: 5px;
  }

  .map-contacts__invitation--wrapper {
    margin-top: 62px;
    margin-left: 8px;
  }

  .map-contacts__invitation--wrapper-form {
    margin-top: 0;
  }

  .map-contacts__address--wrapper {
    margin-top: 60px;
    margin-left: 80px;
  }

  .map-contacts__address--wrapper-form {
    margin-top: 0;
  }

  .map-contacts__address--wrapper-two {
    margin-top: 120px;
    margin-left: -167px;
  }

  .map-contacts__address--wrapper-two-form {
    margin-top: 60px;
  }

  .map-contacts__map-img {
    min-width: 100%;
    height: 482px;

    margin-top: 0;
  }

  .map-contacts__map-img--desctop {
    margin-top: 20px;
  }

  .map-contacts__address {
    text-align: left;
  }

  .map-contacts__wrapper {
    position: absolute;

    width: 570px;
    height: 201px;
    background-color: @white;

    margin-top: 95px;

    z-index: 2;
  }

  .map-contacts__map-wrapper {
    margin-top: 0;
  }

  .map-contacts__map-wrapper--desctop {
    margin-top: 40px;
  }

  .map-contacts__container {
    .container ();
    padding-left: 40px;
  }

  .map-contacts__map-image {
    height: 400px;

    margin-top: 0;
  }
}
