.nutrition-promo__wrapper-background {
  width: 100%;
  height: 305px;
  background-color: @green-dark;
}

.nutrition-promo__wrapper-container {
  .container ();
}

.nutrition-promo__wrapper {
  position: absolute;

  width: @mobile-width;
  min-height: 305px;

  margin-top: 0;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.nutrition-promo__image {
  position: relative;

  margin-top: 14px;
  margin-left: 20px;
}

.nutrition-promo__slogan-wrapper {
  margin-top: 27px;
  text-align: center;
}

.nutrition-promo__slogan {
  min-width: 245px;
  color: @white;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
}

.nutrition-promo__intro-wrapper {
  margin-top: 25px;
  margin-right: 62px;
  margin-left: 60px;
}

.nutrition-promo__intro {
  color: @white;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.nutrition-promo__link-wrapper {
  margin-top: 11px;
  padding-left: 20px;
}

.nutrition-promo__link {
  color: @white;
  background-color: @green;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 9px;
  padding-right: 73px;
  padding-bottom: 10px;
  padding-left: 73px;
}


@media (min-width: @tablet-width) {
  .nutrition-promo__wrapper-background {
    width: 1px;
    min-height: 319px;
    background-color: @white;
  }

  .nutrition-promo__container {
    .container ();
  }

  .nutrition-promo__wrapper {
    min-width: 768px;
    background-image: none;
  }

  .nutrition-promo__slogan-wrapper {
    width: 414px;
    text-align: left;

    margin-top: 49px;
    margin-left: 116px;
  }

  .nutrition-promo__slogan {
    color: @light-black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-transform: none;
  }

  .nutrition-promo__intro-wrapper {
    margin-top: 42px;
    margin-right: 62px;
    margin-left: 117px;
  }

  .nutrition-promo__intro {
    color: @light-black;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  .nutrition-promo__image {
    position: relative;

    width: 709px;
    height: 609px;

    margin-top: 0;
    margin-right: 20px;
    margin-left: 30px;

    z-index: 2;
  }

  .nutrition-promo__link-wrapper {
    position: relative;
    margin-top: -583px;
    margin-left: 100px;
  }

  .nutrition-promo__link {
    position: absolute;

    color: @white;
    background-color: @green;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    padding-top: 16px;
    padding-right: 29px;
    padding-bottom: 16px;
    padding-left: 25px;

    z-index: 3;
  }
}

@media (min-width: @desktop-width) {
  .nutrition-promo {
    margin-top: 0;
    padding-left: 9px;
  }

  .nutrition-promo__slogan-wrapper {
    width: 414px;
    text-align: left;

    margin-top: 97px;
  }

  .nutrition-promo__slogan {
    position: relative;

    color: @light-black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-transform: none;
    z-index: 2;
  }

  .nutrition-promo__intro-wrapper {
    margin-top: 42px;
  }

  .nutrition-promo__image {
    position: absolute;

    width: 552px;
    height: 499px;

    margin-top: -285px;
    margin-right: 20px;
    margin-left: 485px;

    z-index: 1;
  }

  .nutrition-promo__link-wrapper {
    margin-top: 52px;
    padding-left: 17px;
  }

  .nutrition-promo__link {
    color: @white;
    background-color: @green;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    padding-top: 16px;
    padding-right: 29px;
    padding-bottom: 16px;
    padding-left: 25px;
  }
}
