.page-header {
  .container ();
}

.page-header__logo {
  padding-top: 11px;
  margin-bottom: 16px;
  padding-left: 20px;
}

.page-header__logo-link:hover,
.page-header__logo-link:focus {
  opacity: 0.8;
}

.page-header__logo-link:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
  }

  .page-header__logo {
    padding-top: 22px;
    padding-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1300px;
  }

  .page-header__logo {
    margin-top: 35px;
    padding-left: 55px;
  }
}
