.programs {
  display: flex;
  flex-direction: column;
}

.programs__title {
  position: absolute;

  content: "";
  color: @light-black;
  font-size: 24px;
  line-height: 37.02px;
  text-transform: uppercase;
  font-weight: 400;

  margin-top: 6px;
  margin-left: 91px;
}

.programs__title-icon {
  position: relative;

  width: 50px;
  height: 51px;
  background-color: @green;
  border-radius: 50%;

  margin-top: 24px;
  margin-left: 22px;
}

.programs__description {
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;

  margin-top: 22px;
  margin-left: 20px;
}

.programs__description--slim {
  width: 223px;
}

.programs__description--pro {
  width: 201px;
}

.programs__item {
  width: 280px;
  background-color: @gray95;
  margin-left: 20px;
}

.programs__line {
  width: 240px;
  opacity: 0.1;
  border: solid 1px @black;
  border-bottom: none;

  margin-top: 21px;
  margin-left: 20px;
}

.programs__link-wrapper {
  margin-top: 19px;
  margin-left: 19px;
  margin-bottom: 20px;
}

.programs__link {
  color: @light-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.programs__item--slim {
  margin-top: 33px;
}

.programs__item--pro {
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .programs__item--slim {
    margin-top: 581px;
  }
}
