.programs {
  .container ();
  display: flex;
  flex-direction: column;

  padding-left: 10px;
  margin-top: 200px;
}

.programs__title {
  position: absolute;

  color: @light-black;
  font-size: 24px;
  line-height: 37.02px;
  text-transform: uppercase;
  font-weight: 400;
}

.programs__title--wrapper {
  margin-top: 30px;
  margin-left: 91px;
}

.programs__description {
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;
}

.programs__description--slim {
  width: 234px;

  margin-top: 95px;
  margin-left: 20px;
}

.programs__description--pro {
  width: 201px;

  margin-top: 95px;
  margin-left: 20px;
}

.programs__item {
  width: 280px;
  background-color: @gray95;
}

.programs__link-wrapper {
  margin-top: 42px;
  margin-left: 19px;
  margin-bottom: 20px;
}

.programs__link {
  color: @light-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.programs__item--pro {
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .programs {
    margin-top: 570px;
    margin-left: 10px;
  }

  .programs__item--pro {
    margin-top: 30px;
  }

  .programs__item {
    width: 708px;
    min-height: 372px;
    background-color: @gray95;
  }

  .programs__title--wrapper {
    margin-top: 77px;
    margin-left: 55px;
  }

  .programs__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 37.02px;
    text-transform: uppercase;
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
  }

  .programs__description--slim {
    width: 372px;

    margin-top: 140px;
    margin-left: 55px;
  }

  .programs__description--pro {
    width: 340px;

    margin-top: 140px;
    margin-left: 55px;
  }

  .programs__link-wrapper {
    margin-top: 55px;
    margin-left: 55px;
    margin-bottom: 20px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .programs {
    .container ();
    display: flex;
    flex-direction: row;

    margin-top: 230px;
  }

  .programs__item--slim {
    margin-top: 80px;
    margin-left: 49px;
  }

  .programs__item--pro {
    margin-top: 80px;
    margin-left: 80px;
  }

  .programs__item {
    width: 570px;
    min-height: 372px;
    background-color: @gray95;
  }

  .programs__title--wrapper {
    margin-top: 76px;
    margin-left: 214px;
  }

  .programs__description--slim {
    width: 462px;
    margin-top: 187px;
    margin-left: 51px;
  }

  .programs__description--pro {
    width: 445px;
    margin-top: 187px;
    margin-left: 51px;
  }

  .programs__link-wrapper {
    margin-top: 30px;
    margin-left: 53px;
    margin-bottom: 20px;
  }
}

