.site-list__link {
  color: @light-black;
  font-family: @font-family-secondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;

  border: 1px solid @gray93;
  border-right: none;  //под вопросом
  border-left: none; //под вопросом
}

.site-list__item:nth-child(2n),
.site-list__item:nth-child(3n) {
  border-top: none;
}
