.site-list__link {
  color: @light-black;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.site-list__item:hover,
.site-list__iten:focus {
  opacity: 0.6;
}

.site-list__item:active {
  opacity: 0.3;
}

.site-list__item {
  text-align: center;
  border: 1px solid @gray93;

  padding-top: 24px;
  padding-bottom: 24px;
}

.site-list__item:nth-child(2n),
.site-list__item:nth-child(3n) {
  border-top: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    min-width: 450px;
    display: flex;
    flex-direction: row;
  }

  .site-list__item {
    text-align: center;
    border: none;

    margin-top: 18px;

    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 34px;

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 14px;
        left: 0;

        height: 2px;

        background: @green;
      }
    }
  }

  .site-list__item:nth-child(1) {
    margin-left: 0;
  }

  .site-list__link {
    position: relative;

    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    margin-top: 32px;
    margin-left: 60px;
    min-width: 490px;
  }

  .site-list__item {
    padding-top: 24px;
    padding-bottom: 24px;

    margin-left: 35px;
    text-align: center;
    border: none;

    &--active-desctop {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 14px;
        left: 0;

        height: 2px;

        background: @white;
      }
    }
  }

  .site-list__link {
    position: relative;

    color: @white;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.86px;
    text-transform: uppercase;
  }

  .site-list__link--catalog {
    color: @black;
  }

  .site-list__link--form {
    color: @black;
  }
}
