.slider {
  background-color: @gray95;
}

.slider__wrapper {
  .container ();
}

.slider__title--top {
  padding-top: 17px;
  padding-left: 20px;

  margin-top: 33px;
  margin-bottom: 0;
}

.slider__title--bottom {
  padding-top: 19px;
  padding-left: 66px;
}

.slider__title {
  color: @light-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.slider__description-wrapper {
  margin-top: 23px;
  padding-left: 20px;
}

.slider__description {
  width: 290px;
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;
}

.slider__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;

  margin-top: 25px;
  margin-left: 20px;
}

.slider__item:nth-child(2) {
  margin-left: 30px;
}

.slider__item-wrapper {
  width: 54px;
  text-align: center;
}

.slider__item {
  position: relative;

  color: @light-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid @grey80;
  background-color: @gray95;
}

.slider__item-weight {
  margin: 0;
  padding-top: 12px;
  padding-left: 41px;
}

.slider__item-days {
  margin: 0;
  padding-top: 12px;
  padding-left: 21px;
}

.slider__item-background--left {
  position: absolute;

  top: 45px;
  left: 17px;

  color: @grey-dark;
  width: 87px;
  height: 21px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: none;
  background-color: @gray95;
}

.slider__item-background--right {
  position: absolute;

  top: 45px;
  left: 17px;

  color: @grey-dark;
  width: 87px;
  height: 21px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: none;
  background-color: @gray95;
}

.slider__item-background--left-time {
  position: absolute;

  top: 45px;
  left: 33px;

  color: @grey-dark;
  width: 54px;
  height: 19px;
  font-family: @font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: none;
  background-color: @gray95;
  margin: 0;
}

.slider__item-background--right-time {
  position: absolute;

  top: 45px;
  left: 33px;

  color: @grey-dark;
  width: 54px;
  height: 19px;
  font-family: @font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: none;
  background-color: @gray95;
  margin: 0;
}

.slider__title--bottom-wrapper {
  margin-top: 35px;
  margin-bottom: 43px;
  padding-left: 65px;
}

.slider__title--bottom {
  color: @light-black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__image-1-wrapper {
  margin-top: 41px;
}

.slider__image-1 {
  width: 100%;
  max-height: 232px;
}

.slider__bar-wrapper {
  display: flex;
  flex-direction: row;
}

.slider__bar {
  padding-bottom: 36px;
}

.slider__bar-btn {
  text-transform: uppercase;
  margin-top: 29px;
  border: none;
  background: none;
}

.slider__bar-btn--before {
  margin-left: 57px;
}

.slider__bar-btn--after {
  margin-left: 54px;
}

.slider__bar-main--wrapper {
  margin-top: 31px;
  margin-left: 120px;
}

.slider__bar-main {
  position: absolute;

  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid @grey80;
  background-color: @white;
}

.slider__bar-two--wrapper {
  margin-top: 35px;
  margin-left: 19px;
}

.slider__bar-two {
  position: relative;

  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @green;
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: @white;
  }

  .slider__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .slider__title--top {
    font-size: 60px;
  }

  .slider__title {
    margin-top: 112px;
    margin-bottom: 0;
    margin-left: 10px;
  }

  .slider__description-wrapper {
    margin-top: 67px;
    margin-left: 10px;
  }

  .slider__description {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
  }

  .slider__wrapper {
    display: flex;
    flex-direction: row;
  }

  .slider__item-wrapper {
    width: 125px;
  }

  .slider__item {
    background-color: @white;
    font-size: 30px;
    line-height: 37.02px;
    width: 162px;
    height: 72px;
  }

  .slider__item:nth-child(2) {
    margin-left: 42px;
  }

  .slider__list {
    margin-top: 35px;
    margin-left: 30px;
  }

  .slider__item-weight {
    padding-top: 14px;
    padding-left: 55px;
  }

  .slider__item-days {
    padding-top: 14px;
    padding-left: 29px;
  }

  .slider__item-background--left {
    top: 55px;
    left: 23px;

    color: @grey-dark;
    width: 114px;
    height: 32px;
    background-color: @white;
  }

  .slider__item-background--right {
    top: 55px;
    left: 9px;

    color: @grey-dark;
    width: 142px;
    height: 32px;
    background-color: @white;
  }

  .slider__item-background--left-time {
    background-color: @white;
    top: 62px;
    left: 32px;

    width: 97px;
    font-size: 14px;
    line-height: 14px;
  }

  .slider__item-background--right-time {
    background-color: @white;
    top: 62px;
    left: 17px;

    width: 127px;
    font-size: 14px;
    line-height: 14px;
  }

  .slider__title--bottom {
    width: 174px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;

    margin-top: 22px;
    margin-left: 166px;

    padding-left: 0;
  }

  .slider__image-1-wrapper {
    margin-top: 71px;

    z-index: 2;
  }

  .slider__image-1 {
    width: 677px;
    min-height: 499px;
  }

  .slider__bar {
    background-color: @gray95;
    min-height: 462px;
    margin-top: -333px;
    margin-bottom: 36px;
  }

  .slider__bar-btn {
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted @grey82;
  }

  .slider__bar-btn--before {
    margin-top: 360px;
    margin-left: 92px;

    z-index: 2;
  }

  .slider__bar-btn--after {
    margin-top: 360px;
    margin-left: 211px;

    z-index: 2;
  }

  .slider__bar-main--wrapper {
    margin-top: 375px;
    margin-left: 169px;
  }

  .slider__bar-main {
    position: absolute;

    content: "";

    width: 428px;
    height: 6px;
    border-radius: 3px;
    background-color: @gainsboro;

  }

  .slider__bar-two--wrapper {
    margin-top: 361px;
    margin-left: 216px;
  }

  .slider__bar-two {
    position: relative;

    width: 34px;
    height: 34px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    border: 1px solid @grey80;
    background-color: @white;
  }

  .slider__bar-three--wrapper {
    margin-top: 374px;
    margin-left: 380px;
  }

  .slider__bar-three {
    position: absolute;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @green;
  }

  .slider__bar-background-one--wrapper {
    margin-top: -498px;
    margin-left: 384px;
    z-index: auto;
  }

  .slider__bar-background-one {
    width: 100%;
    height: 462px;
    background-color: @gray94;
  }

  .slider__bar-background-one-bottom--wrapper {
    margin-top: -462px;
    //margin-left: 384px;
    z-index: auto;
  }

  .slider__bar-background-one-bottom {
    width: 100%;
    height: 462px;
    background-color: @gray95;
  }

  .slider__bar-background-two--wrapper {
    margin-top: -498px;
    z-index: auto;
  }

  .slider__bar-background-two {
    width: 100%;
    height: 462px;
    background-color: @gray95;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    margin-top: 35px;
  }
  .slider__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .slider__description-wrapper {
    width: 455px;

    padding-top: 5px;
  }

  .slider__list {
    margin-left: 40px;
  }

  .slider__item {
    margin-top: 15px;
    margin-right: 12px;
  }

  .slider__item:nth-child(2) {
    margin-left: 30px;
  }

  .slider__wrapper {
    .container ();
    display: flex;
    flex-direction: column;
  }

  .slider__title--bottom {
    width: 326px;
    white-space: pre;

    margin-top: 20px;
    margin-left: 40px;
  }

  .slider__title--bottom-wrapper {
    text-align: left;
    white-space: pre;

    margin-top: 40px;
    margin-bottom: 43px;
    margin-left: 111px;
  }

  .slider__title {
    padding-left: 0;
  }

  .slider__image-1 {
    position: absolute;
    width: 677px;
    height: 499px;

    margin-top: -725px;
    margin-left: 540px;
    margin-bottom: 0;
  }

  .slider__bar {
    margin-top: -540px;
    margin-bottom: 0;
    margin-left: 505px;

    padding-bottom: 0;
  }

  .slider__bar-background-one--wrapper {
    margin-left: 888px;
    margin-top: -460px;
  }

  .slider__bar-background-one {
    width: 395px;
  }

  .slider__background-wrapper {
    max-width: 1300px;
    height: 462px;
    background-color: @gray95;
    margin-top: 73px;
  }

  .slider__item {
    background-color: @gray95;
  }

  .slider__item-background--right-time {
    background-color: @gray95;
  }

  .slider__item-background--left-time {
    background-color: @gray95;
  }

  .slider__item-background--left {
    background-color: @gray95;
  }

  .slider__item-background--right {
    background-color: @gray95;
  }

  .slider__bar-background-one-bottom {
     display: none;
    }

  .slider__bar-background-two {
    width: 100%;
    height: 462px;
    margin-top: -461px;
    background-color: @gray95;
  }
}
