.slider {
  background-color: @gray95;
}

.slider__title--top {
  color: @light-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.slider__title {
  margin-top: 17px;
  margin-bottom: 0;
  margin-left: 20px;
}

.slider__description {
  color: @grey-dark;
  font-family: @font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;

  margin-top: 23px;
  margin-left: 20px;
}

.slider__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.slider__item-wrapper {
  width: 54px;
  text-align: center;
}

.slider__item {
  position: relative;

  color: @light-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  height: 56px;
  border-radius: 3px;
  border: 1px solid @grey80;
  background-color: @gray95;
}

.slider__item--left {
  margin-top: 9px;
  margin-left: 20px;
}

.slider__item--right {
  margin-top: 9px;
  margin-left: 31px;
}

.slider__item-weight {
  margin: 0;
  padding-top: 12px;
  padding-left: 41px;
}

.slider__item-days {
  margin: 0;
  padding-top: 12px;
  padding-left: 21px;
}

.slider__category-background {
  position: absolute;

  content: "";
  top: 45px;
  left: 17px;

  color: @grey-dark;
  width: 87px;
  height: 21px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: none;
  background-color: @gray95;
}

.slider__category {
  position: absolute;

  content: "";
  top: 45px;
  left: 33px;

  color: @grey-dark;
  width: 54px;
  height: 19px;
  font-family: @font-family-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: none;
  background-color: @gray95;
  margin: 0;
}

.slider__title--bottom {
  color: @light-black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  margin-top: 34px;
  margin-bottom: 43px;
  margin-left: 67px;
}

.slider__bar {
  display: flex;
  flex-direction: row;

  margin-bottom: 36px;
}

.slider__bar-btn {
  text-transform: uppercase;
  margin-top: 29px;
  border: none;
  background: none;
}

.slider__bar-btn--before {
  margin-left: 57px;
}

.slider__bar-btn--after {
  margin-left: 54px;
}

.slider__bar-main {
  position: absolute;

  content: "";
  margin-top: 31px;
  margin-left: 120px;

  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid @grey80;
  background-color: @white;
}

.slider__bar-two {
  position: relative;

  margin-top: 35px;
  margin-left: 19px;

  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @green;
}
