.social-network__wrapper {
  margin-top: 31px;
  margin-left: -62px;
}

.social-network__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social-network__vk {
  width: 22px;
  height: 16px;

  margin-top: 23px;
  margin-left: 115px;
}

.social-network__insta {
  width: 16px;
  height: 16px;

  margin-top: 23px;
  margin-left: 37px;
}

.social-network__fb {
  width: 10px;
  height: 18px;

  margin-top: 21px;
  margin-left: 40px;
}

.social-network__vk:hover,
.social-network__vk:focus,
.social-network__insta:hover,
.social-network__insta:focus,
.social-network__fb:hover,
.social-network__fb:focus {
  fill: @green;
}

.social-network__vk:active,
.social-network__insta:active,
.social-network__fb:active {
  opacity: 0.3;
}

@media (max-width: @mobile-width-only) {
  .social-network__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;

      top: 63px;
      left: 80px;
      width: 280px;
      height: 1px;
      background: @black;
      opacity: 0.1;
    }
  }
}

@media (min-width: @tablet-width) {
  .social-network {
    border: none;
  }

  .social-network__wrapper {
    margin-top: 0;
    margin-left: 117px;
  }

  .social-network__vk {
    width: 30px;
    height: 16px;

    margin-top: 9px;
    margin-left: 0;
  }

  .social-network__insta {
    width: 23px;
    height: 23px;

    margin-top: 7px;
    margin-left: 27px;
  }

  .social-network__fb {
    width: 14px;
    height: 28px;

    margin-top: 4px;
    margin-left: 29px;
  }
}

@media (min-width: @desktop-width) {
  .social-network__wrapper {
    margin-top: 37px;
    margin-left: 372px;
  }

  .social-network__vk {
    margin-left: 0;
  }

  .social-network__insta {
    margin-left: 28px;
  }
}
