.goods__title {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  text-transform: none;

  margin-top: 10px;
  margin-bottom: 20px;

}

.goods__card {
  min-height: 210px;
  border: 1px solid #ededed;
  border-bottom: none;
}

.goods__wrapper {
  display: flex;
  flex-direction: row;
}

.goods__wrapper--right {
  display: flex;
  flex-direction: column;
}

.goods__card-title {
  width: 72px;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  margin-top: 12px;
}

.goods__table {
  color: #444444;
  font-family: "Arial MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;

  margin-top: 9px;
}

.goods__table--second-column {
  padding-left: 64px;
}

.goods__order {
  color: #ffffff;
  background-color: #68b738;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 7px;
  padding-right: 108px;
  padding-bottom: 7px;
  padding-left: 111px;

  margin-left: 20px;
}

.goods__image {
  margin-top: 1px;
  margin-left: 20px;
}

.goods__table--second-column {
  text-align: right;
}

.goods__table--front-column {
  text-align: left;
}
