.goods-all {
  display: flex;
  flex-direction: column;

  margin-top: 24px;
}

.goods-all__image {
  margin-top: 27px;
}

.goods-all__description {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  margin-top: 26px;
}

.goods-all__intro { /*Сделать шире чем description*/
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
  font-family: "Arial MT";

  margin-top: 11px;
}

.goods__show {
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  margin-top: 22px;

  padding-top: 13px;
  padding-right: 94px;
  padding-bottom: 12px;
  padding-left: 97px;
}

.goods__show {
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  margin-top: 22px;

  padding-top: 13px;
  padding-right: 94px;
  padding-bottom: 12px;
  padding-left: 97px;
}

.goods__show {
  color: #444444;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  margin-top: 22px;

  padding-top: 13px;
  padding-right: 94px;
  padding-bottom: 12px;
  padding-left: 97px;
}

