.page-footer__developers-link {
  display: flex;
  flex-direction: row;
}

.developers-description__wrapper {
  margin-top: 31px;
  margin-bottom: 31px;
  margin-left: 20px;
}

.developer-link-icon__wrapper {
  margin-top: 22px;
  margin-right: 20px;
  margin-bottom: 31px;
  margin-left: 141px;
}
