@font-family-prime: "Oswald", "Arial MT", sans-serif;
@font-family-secondary: "Arial", sans-serif;
@white: #ffffff;
@black: #000000;
@light-black: #111111;
@grey-dark: #444444;
@green: #68b738;
@gray92: #e6e6e6;
@gray93: #ededed;
@gray95: #f2f2f2;
@graphite: #222222;
@grey80: #cdcdcd;
@grey81: #c5c5c5;
